body {
    color: #2980b9;
    background: linear-gradient(to right, #2bc0e4 10%, #eaecc6 90%);
    font-family: 'Roboto', sans-serif;
    margin-top: 0;
}

h1 {
    color: #1f567a;
}

#chicken-description, #beef-description, #shusi-description {
    background-color: rgba(245, 245, 245, .3);
    margin-top: 1.4rem;
    margin-bottom: 2.5rem;
}

#chicken-description p, #beef-description p, #shusi-description p {
    padding: 1rem;
}

.navbar-brand h1 {
    color: #2980b9;
    font-size: 2.3em;
    text-transform: uppercase;
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.5);
    margin-bottom: 0;
    margin: .8rem 0 .8rem;
}

.navbar-brand a:hover, .navbar-brand a:focus {
    text-decoration: none;
}

.navbar-header  + button.navbar-toggler {
    border: 1px solid #2980b9;
}

#header-navbar {
    background-color: #dcdfb0;
    border-radius: 0;
    border: none;
}

#nav-list {
    margin-top: 11px;
}

#nav-list li {
    margin: 0 1rem;
}

#nav-list a {
    color: #3587bd;
    text-align: center;
    font-size: 1.4em;
  
}

#nav-list a div:hover {
    background-color: #2bc0e4;
    color: whitesmoke;
    text-decoration: none;
}

#nav-list a:hover {
    text-decoration: none;
}

#nav-list a:focus {
    text-decoration: none;
}

#chicken-description  a, #beef-description  a, #shusi-description  a {
    background-color: #f1f1ec;
    color: #1f567a;
    border-radius: 1rem;
    font-size: 1.2em;
    padding: .2rem;
}
#chicken-description  a:hover, #beef-description  a:hover, #shusi-description  a:hover {
    text-decoration: none;
}

